
// Global default params, used in configs
params {
	CPUs = 24
	correction = false
	deconvolution_method = 'RPC' // EpiDISH parameter
	collapse_prefix = true // Sesame parameter
	vep_annotations = false

	// PLINK params
	MAF = 0.01
	HWE = '1e-50'
	GENO = 0.1

    // Product Files
    bpm_manifest = '/home/ec2-user/GSA/test_analysis/GSA-PGx-48v4-0_20079540_E2.bpm'
    csv_manifest = '/home/ec2-user/GSA/test_analysis/GSA-PGx-48v4-0_20079540_E2.csv'
    cluster_file = '/home/ec2-user/GSA/test_analysis/GSA-PGx-48v4-0_20079540_E2_ClusterFile.egt'
    
    // References
    reference_fa = '/home/ec2-user/GSA/test_analysis/'

    //IDAT Files as input
    gsa_idats_dir = '/home/ec2-user/GSA/test_analysis/GDAPGx_Demo_idats'

}

// Verion
env {
	version = '0.1v'
}

// Docker config
docker.enabled = true
process.container = 'mqtl-image'

// Reports
report.overwrite = true
dag.overwrite = true



