
// Global default params, used in configs
params {
	CPUs = 24
	correction = false
	deconvolution_method = 'RPC' // EpiDISH parameter
	collapse_prefix = true // Sesame parameter
	vep_annotations = false

	// PLINK params
	MAF = 0.01
	HWE = '1e-50'
	GENO = 0.1

    // Product Files
    bpm_manifest = '/home/ec2-user/GSA/test_analysis/GSA-PGx-48v4-0_20079540_E2.bpm'
    csv_manifest = '/home/ec2-user/GSA/test_analysis/GSA-PGx-48v4-0_20079540_E2.csv'
    cluster_file = '/home/ec2-user/GSA/test_analysis/GSA-PGx-48v4-0_20079540_E2_ClusterFile.egt'
    
    // References
    reference_fa = '/home/ec2-user/GSA/test_analysis/'

    //IDAT Files as input
    gsa_idats_dir = '/home/ec2-user/GSA/test_analysis/GDAPGx_Demo_idats'

    ecr_registry = '664263524008.dkr.ecr.ap-northeast-2.amazonaws.com/'
    //aws_region = ''
    //outdir = '/mnt/workflow/pubdir'
    results_dir = 's3://brandon-ap-northeast-2-nf/gsa_analysis'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}


// Verion
env {
	version = '0.1v'
}

// Reports
report.overwrite = true
dag.overwrite = true

profiles {

    standard {
        process.executor = 'local'
        docker.enabled = true
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '10GB'
    }

    aws {
        process.executor = 'awsbatch'
        process.container = 'job-definition://nf-nextflow-rnaseq-nf-latest'
        process.queue = 'IGIB'
        docker.enabled = true
        //process.containerOptions = '--shm-size 16000000 --ulimit nofile=1280:2560 --ulimit nproc=16:32'

        aws {
            batch {
                // NOTE: this setting is only required if the AWS CLI is installed in a custom AMI
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
            region = 'ap-northeast-2'
            //profile = 'AdministratorAccess-664263524008'
            //accessKey = '<IAM accessKey>'
            //secretKey = '<IAM secretKey>'
        }

    }
}
